*.pyc
*.pyo
*.db
.DS_Store
.cache
.deepsource.toml
.dockerignore
.git
.github
.gitignore
.idea
.pre-commit-config.yaml
.pytest_cache
.python-version
.ruff
.ruff_cache
.venv
__pycache__
Dockerfile
README*
deploy
dump.rdb
env.sample
frontend
mainframe-pradan-dev-a93167ad1ec9.json
manage.py
pyproject.toml
requirements-dev.lock
src/mainframe/.env
tests
venv
docs
htmlcov
logs
staticfiles
docker-compose*
