exclude: ".github|.venv|deploy|frontend|docs|migrations|.git|.tox"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: migrations-check
        language: system
        name: check for uncreated migrations
        entry: uv run python src/manage.py makemigrations --check --dry-run --skip-checks
        files: "src/mainframe/.*models\\.py$"
        exclude: "(migrations|tests)"
        pass_filenames: false
        stages: [pre-commit]
