-r requirements.txt
black==23.7.0  # https://github.com/ambv/black
factory-boy==3.3.0  # https://github.com/FactoryBoy/factory_boy
pytest==7.4.0  # https://github.com/pytest-dev/pytest
pytest-cov==4.1.0
pytest-django==4.5.2  # https://github.com/pytest-dev/pytest-django
pytest-socket
