[Unit]
Description=django backend server

[Service]
User=rpi
WorkingDirectory=/home/rpi/projects/mainframe/backend
ExecStart=/home/rpi/projects/.virtualenvs/mainframe/bin/daphne -p 7777 core.asgi:application
#ExecStartPost=/usr/bin/timeout 45 sh -c 'while ! ss -H -t -l -n sport = :7777 | grep -q "^LISTEN.*:7777"; do sleep 1; done; /bin/sh -c "/home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py send_debug_message \"[[backend]] up\""'
#ExecStopPost=/bin/sh -c "/home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py send_debug_message '[[backend]] down'"
Restart=always

[Install]
WantedBy=multi-user.target
