[Unit]
Description=django backend server

[Service]
User=rpi
WorkingDirectory=/home/rpi/projects/mainframe/backend
ExecStart=/home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py runserver 0:7777
ExecStartPost=/usr/bin/timeout 45 sh -c 'while ! ss -H -t -l -n sport = :7777 | grep -q "^LISTEN.*:7777"; do sleep 1; done; /home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py post_deploy --service backend'
ExecStopPost=/home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py send_debug_message "[[backend]] stopped"
Restart=always

[Install]
WantedBy=multi-user.target
