[Unit]
Description=WebSocket Daphne Service
After=network.target

[Service]
Type=simple
User=rpi
WorkingDirectory=/home/rpi/projects/mainframe/backend
ExecStart=/home/rpi/projects/.virtualenvs/mainframe/bin/python /home/rpi/projects/.virtualenvs/mainframe/bin/daphne -b 0.0.0.0 -p 8001 core.asgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
