[Unit]
After=backend.service
Description=Ngrok public URL service

[Service]
User=rpi
WorkingDirectory=/home/rpi/projects/mainframe/src
ExecStart=/usr/local/bin/ngrok start --all
ExecStartPost=/usr/bin/timeout 60 sh -c \
    'while ! ss -H -t -l -n sport = :7777 | grep -q "^LISTEN.*:7777"; \
        do sleep 1; \
        echo "Waiting for backend port"; \
    done; \
    echo "Success"; \
    sleep 3; \
    /home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py set_hooks'
ExecStopPost=/home/rpi/projects/.virtualenvs/mainframe/bin/python mainframe/clients/chat.py [[ngrok]] down
Restart=on-failure
TimeoutSec=900

[Install]
WantedBy=multi-user.target
