[Unit]
Description=Ngrok public URL service
After=backend.service

[Service]
User=rpi
WorkingDirectory=/home/rpi/projects/mainframe/backend
ExecStart=ngrok http 7777
ExecStartPost=/home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py set_hooks
Restart=always

[Install]
WantedBy=multi-user.target
