[Unit]
Description=Ngrok public URL service
After=backend.service

[Service]
User=rpi
WorkingDirectory=/home/rpi/projects/mainframe/backend
ExecStart=/usr/local/bin/ngrok start --all
ExecStartPost=/home/rpi/projects/.virtualenvs/mainframe/bin/python manage.py set_hooks
Restart=always

[Install]
WantedBy=multi-user.target
